div[data-testid="stMainBlockContainer"] {
  background: linear-gradient(rgba(255, 186, 106, 0.8), rgba(75, 45, 0, 0.8)),
    url("https://estadosemunicipios.com.br/wp-content/uploads/2025/03/img2011-64.webp");
  background-size: cover;
  background-position: center;
}
#bui109__anchor > button {
  background-color: #8b4513;
}
#bui109__anchor > button:hover::before {
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
  transition: filter 0.3s;
}
